# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\laravel 8\project-settings\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
